<?xml version="1.0"?>

<document>
  <body>
    <section name="Download">
	<p>
	Download last version : <a href="https://sourcesup.renater.fr/nexus/content/repositories/${project.artifactId}-releases/${project.version}/${project.artifactId}-${project.version}.jar">${project.artifactId}-${project.version}</a>
	</p>
	<p>
	View changelog : <a href="changelog">changelog</a>
	</p>
	<p>
	Download previous version : <a href="https://sourcesup.renater.fr/nexus/content/repositories/${project.artifactId}-releases/">Previous versions</a>
	</p>
    </section>
  </body>
</document>
